---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Alert from '../components/Alert.astro';
---

<Layout title="شجرة ذوي حمود" description='شجرة العائلة لذوي حمود الدلبحي العتيبي، أصول وفروع العائلة'>
	
	<main class="container mx-auto">
		<Alert title="">
			لدى شجرة ذوي حمود منزل جديد على الانترنت على العنوان
			<a class="underline font-bold hover:text-yellow-600" href="https://al7mood.com">https://al7mood.com</a>
		
		</Alert>
		
		<Alert title="">
			الإضافات الحديثه مبينه <span class="text-red-500 dark:text-red-400 font-bold">باللون الأحمر</span>
		</Alert>
		
		<Alert title="">
			<span>تاريخ التحديث:</span> 04-05-2022
		</Alert>
		
		<Alert title="">
			<span>للملاحظات:</span> التواصل مع محمد حميان على <a class="font-bold underline hover:text-yellow-600" href="tel:+966559357653">0559357653</a>
		</Alert>
		

		<div id="tree" class="my-12 p-4 bg-slate-50 dark:bg-white dark:bg-opacity-5 rounded-lg">
			<h2 class="font-bold text-2xl mb-4">الشجرة</h2>
			<div id="chart"></div>
		</div>

		

		<div id="statistics" class="my-12">
			<h2 class="font-bold text-2xl mb-4">الإحصائيات</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				<Card title="عدد الأفراد">
					<div id="indicount"></div>
					</Card>
				<Card title="الفروع الأطول">
					<div id="mostreached"></div>
				</Card>
				<Card title="الأسماء الأكثر استخداماً">
					<div id="commonNames"></div>
				</Card>
			</div>
		</div>
	
	</main>
</Layout>
<script is:inline src="./src/assets/scripts/d3.js"></script>
<script is:inline type="module">
	import { Runtime, Inspector } from "./src/assets/scripts/runtime.js";
	import define from "./src/assets/scripts/tree.js?v=04052022";

	const runtime = new Runtime();
	const main = runtime.module(define, Inspector.into("#chart"));
	function updateData(d) {
		alert(d);
	}
</script>