---
import Ago from "../Ago.astro";

---

<div id="banner" tabindex="-1" class="py-3  bg-gray-50 border border-b border-gray-200 sm:items-center dark:border-gray-700 lg:py-4 dark:bg-gray-800">
    <div class="container mx-auto">
        <p class="text-sm font-light text-gray-500 dark:text-gray-400"><b>تاريخ آخر تحديث</banner> <Ago date="4-6-2022" /></p>
    </div>
</div>
<header class="container mx-auto mb-2 py-8">
    <div id="tree-info" class="">
        <h1 class="font-extrabold text-3xl mb-4">شجرة ذوي حمود
            <small class="text-slate-500 font-extralight text-base block">شجرة عائلة ذوي حمود من الدلابحه وهم من طلحة من الروقة من عتيبة</small></h1>
    </div>
</header>
