---
import Alert from "../Alert.astro";

---
<header class="container mx-auto mb-8">
    <div id="tree-info" class="p-2 rounded-lg">
        <h1 class="font-extrabold text-3xl mb-4">شجرة ذوي حمود</h1>
        <p>
            شجرة عائلة ذوي حمود من الدلابحه وهم من طلحة من الروقة من عتيبة. يسكن ذوي حمود في الجمش في قرى القرين والرديفة ومشرفة
             والخالدية والصالحية والعزيزية والثريانية والعين. تم البدء
              بإعداد شجرة ذوي حمود في عام 2014 وبمساهمة فروع ذوي حمود تم بحمد الله إضافة 900+ فرد إلى الشجرة حتى تاريخه.
        </p>
    </div>
</header>