---
import { Icon } from 'astro-icon'
/*
    القرين 24.738488 43.785386
    الرديفة 24.733108 43.776009
    مشرفة 24.727109 43.785787
    الخالدية 24.714884 43.766339
    الصالحية 24.747298 43.780688
    العزيزية have no clue.. تعرف وينها فيه ذي يبو يوسف؟
    الثريانية 24.745570 43.781976
    العين 24.757830 43.774953 
*/
const { location } = Astro.props;
const locations = {
    "الجمش": "https://www.google.com/maps/d/viewer?mid=1-h-JWONcbus23TGWPWppRoeqX9ct61U&ll=24.738228752446673%2C43.74064021036522&z=11",
    "القرين": "https://www.google.com/maps/d/viewer?mid=1-h-JWONcbus23TGWPWppRoeqX9ct61U&ll=24.72906920000002%2C43.76213550000006&z=16",
    "الرديفة": "https://www.google.com/maps/d/viewer?mid=1-h-JWONcbus23TGWPWppRoeqX9ct61U&ll=24.73325170000003%2C43.77589680000003&z=16",
    "مشرفة": "https://www.google.com/maps/d/viewer?mid=1-h-JWONcbus23TGWPWppRoeqX9ct61U&ll=24.72736230000001%2C43.78584559999997&z=16",
    "الخالدية": "https://www.google.com/maps/d/viewer?mid=1-h-JWONcbus23TGWPWppRoeqX9ct61U&ll=24.71488400000004%2C43.766339000000016&z=16",
    "الصالحية": "https://www.google.com/maps/d/viewer?mid=1-h-JWONcbus23TGWPWppRoeqX9ct61U&ll=24.747298000000015%2C43.78068800000001&z=16",
    "العزيزية": "https://www.google.com/maps/d/viewer?mid=1-h-JWONcbus23TGWPWppRoeqX9ct61U&ll=24.73357381996956%2C43.77960835767219&z=16",
    "الثريانية": "https://www.google.com/maps/d/viewer?mid=1-h-JWONcbus23TGWPWppRoeqX9ct61U&ll=24.745570000000026%2C43.781975999999986&z=16",
    "العين": "https://www.google.com/maps/d/viewer?mid=1-h-JWONcbus23TGWPWppRoeqX9ct61U&ll=24.75783000000003%2C43.774953&z=16",
}
---
<a class="border-b border-dashed pb-1 group hover:px-2 hover:py-1 hover:rounded hover:bg-black hover:bg-opacity-20" href={locations[location]} title={location}>{location} <Icon class="hidden group-hover:inline ms-2 h-4" name="uiw:map" /></a>