---

---
<footer class="container mx-auto mt-8">
    <hr class="border-b-1 my-4 border-slate-400 border-opacity-60 border-dashed">
    <div class="credits">
        <div><b>اعداد وتجميع</b> محمد حميان، <b>التصوير البياني</b> أنس سالم</div>
        <div></div>
    </div>
</footer>