@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
html {
	font-family: 'Cairo';
	font-size: 0.7em;
}
.header {
	direction: rtl;
}
#chart {
	padding-bottom: 50px;
}
.header > div {
	padding: 0px 3px 0px 16px;
    margin-bottom: 4px;
    border-right: solid 5px #9e4d04;
    font-weight: bold;
    float: right;
}
.notice {
    border-right: solid 5px red !important;
    float: none !important;
}
.notice > img {
    height:  17px;
}

.header > div > span {
    font-weight: normal;
}
.grandfather {
	
}
.clr {
    clear: both !important;
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
}
.statsBox {
	float: left;
    border: solid 1px #9e4d04;
    padding: 0px;
    margin: 5px;
}
.statsBox > div {
	padding: 5px;
    
}
.statsBox-Header {
    background: oldlace;
	font-size: 0.8em;
}
#mostreached, #commonNames, #indicount {
	font-size: 0.65em;
}
ul {
    padding-inline-start: 20px;
}